.nav-m {
    display: none;
}
@media screen and (max-width: 768px) {
    .nav-m {
        display: block;
    }
    .link-logo-h1 {
        display: none;
    }
    .link-logo-img {
        height: 80%;
    }
    .title-container {
        display: flex;
        flex-direction: column;
    }
    .title-text-container {
        width: 100%;
        height: 40%;
    }
    .road-map-container {
        width: 100%;
        padding: 5vw;
        height: 60%;
    }
    .btn {
        padding: 1vw 3vw;
        font-size: 4vw;
    }
    .title-text {
        font-size: 6vw;
    }
    .title-description {
        font-size: 2vw;
    }
    .btn:active {
        transform: scale(1.05);
    }
    .services-info-title {
        font-size: 2.5vw;
    }
    .services-info {
        font-size: 2vw;
    }
    .title-skills-p {
        font-size: 4vw;
    }
    .skills-name-p {
        font-size: 2.5vw;
    }
    .p-skills {
        font-size: 2vw;
    }
    .page {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .contact-section {
        width: 100%;
        height: 90vh;
    }
    .footer-info-container {
        width: 100%;
        height: 50%;
        padding-bottom: 5vh;
    }
    .contact-p {
        height: 15%;
    }
    .Btn {
        height: 8vh;
        
    }
    .sign {
        height: 80%;
    }
    .sign svg {
        width: 4vw;
        height: 4vw;
    }
    .Btn:hover .sign svg {
        width: 4vw;
        height: 4vw;
    }
    .text {
        font-size: 3vw;
    }
    .nav-m {
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #menuToggle
    {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    }
    #menuToggle a
    {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    }
    #menuToggle a:hover
    {
    color: tomato;
    }
    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
    }
    #menuToggle span
    {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #151515;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),

                opacity 0.55s ease;
    }
    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }
    .span-active input ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }
    .span-active input ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }
    .span-active input ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }
    .menu-open {
        transform: translate(0, 0);
    }
    .menu-close {
        transform: translate(105%, 0);
    }
    #menu
    {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menu li
    {
    padding: 10px 0;
    font-size: 22px;
    }
    .title-nav {
        display: none;
    }
    .cursor {
        display: none;
    }
    .loader p {
        font-size: 3vw;
    }
    .word {
        font-size: 3vw;
    }
    .select-but {
        font-size: 2vw;
    }
}
@media screen and (max-width: 425px) {
    .title-container {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 320px) {
    .title-container {
        display: flex;
        flex-direction: column;
    }
}