* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  cursor: none;
}
html, body {
	width: 100%;
	height: 100%;
  display: flex;
  align-items: flex-end;
  overflow-x: hidden;
}
::selection {
  background: #a905e4; 
  }
  ::-moz-selection {
  background: #a905e4; 
  }
@font-face {
    font-family: 'MuseoModerno';
    src: url('../fonts/MuseoModerno-Regular.eot');
    src: url('../fonts/MuseoModerno-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoModerno-Regular.woff2') format('woff2'),
         url('../fonts/MuseoModerno-Regular.woff') format('woff'),
         url('../fonts/MuseoModerno-Regular.ttf') format('truetype'),
         url('../fonts/MuseoModerno-Regular.svg#MuseoModerno-Regular') format('svg'),
         url('../fonts/MuseoModerno-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Regular.woff2') format('woff2'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.ttf') format('truetype'),
         url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg'),
         url('../fonts/Raleway-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
h1 {
	font-family: 'MuseoModerno';
	font-size: 1vw;
}
p, a, div, button, span, textarea {
	font-family: 'Raleway';
	font-size: 1vw;
}
h3 {
  font-family: 'inter';
}

body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #DD94FF;
  border-radius: 1vh;
}